<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>ToolkitPLUS Demo</display-name>
	<description>ToolkitPLUS Demo Showcase Application</description>

    <!--
		Turn off productionMode (off by default). Setting productionMode=true
		disables debug features. In when this is off, you can show debug
		window by adding ?debug to your application URL. Always set this true
		in production environment.
	-->
    <context-param>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
		<description>IT Mill Toolkit production mode</description>
	</context-param>

    <!--  Feature Browser demo application -->
    <servlet>
		<servlet-name>ToolkitPlusDemo</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>eu.livotov.tpt.demo.TPTDemoApplication</param-value>
		</init-param>
	</servlet>

    <servlet-mapping>
		<servlet-name>ToolkitPlusDemo</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>